<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="https://js.pusher.com/4.3/pusher.min.js"></script>
        <title>MetaBase-Chat</title>
    </head>
    <style>
        .modal {
          text-align: center;
        }

        @media screen and (min-width: 400px) {
          .modal:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
          }
        }

        .modal-dialog {
          display: inline-block;
          text-align: left;
          vertical-align: middle;
        }
        #footer {
            position: fixed;
            bottom: 5px;
            width: 100%;
        }
        #center {
            width: 500px;
            margin: 0 auto;
        }
        table > *:first-child:not(thead) td:first-child {
          font-weight: bold;
        }
        .table {border: 0!important;}
        .table tr, .table td, .table th {border: 0!important;}
        .table tr td,
        .table tr th {border-left: 0!important;}
        .table tr td:nth-child(1),
        .table tr th:nth-child(1) {border-left: 0!important;}
        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #fff;
            margin: 1em 0;
            padding: 0;

        }
    </style>
    <script type="text/javascript">
        let username;
        let message;
    	$(document).ready(function(){
    		$("#myModal").modal('show');
    	});

    	$(function(){
    	    $('#start_chat').click(function(){
    	        username = $('#username_input').val();
    	        $.post('/newuser', {'username': username}, function(){

    	        });
    	        $("#myModal").modal('hide');
    	        Pusher.logToConsole = true;
                var pusher = new Pusher('35bb38e0c1fb3add1a93', {
                  cluster: 'ap2',
                  forceTLS: true
                });

                var channel = pusher.subscribe('metabase');

                channel.bind('exit-user', function(data) {
                  exitMessage(data.username);
                });
                channel.bind('new-user', function(data) {
                  joinMessage(data.username);
                });

                channel.bind('new-message', function(data) {
                  addMessage(data.username, data.message, 'yellow');
                });
    	    });
    	});

        $(function(){
    	    $('#exitButton').click(function(){
    	        message = $('#message_input').val();
    	        $.post('/exituser', {'username': username}, function(){

    	        });
    	        $("#myModalclose").modal('show');
                setTimeout("pageRedirect()", 2000);
    	    });
    	});

    	$(function(){
    	    $('#sendButton').click(function(){
    	        message = $('#message_input').val();
    	        $.post('/message', {'username': username,'message': message}, function(){

    	        });
    	        $('#message_input').val('');
    	    });
    	});

        function pageRedirect() {
            window.location.replace("/");
        }

        function exitMessage(username) {
            var table = document.getElementById("message-table");
            var row = table.insertRow();
            var cell1 = row.insertCell(0);
            cell1.innerHTML = "<font color=red>"+username+" h@s leFt :( </font>";
        }

    	function joinMessage(username) {
            var table = document.getElementById("message-table");
            var row = table.insertRow();
            var cell1 = row.insertCell(0);
            cell1.innerHTML = "<font color=green>"+username+" h@s j0in3D :P </font>";
        }

    	function addMessage(username, message, color) {
            var table = document.getElementById("message-table");
            var row = table.insertRow();
            var cell1 = row.insertCell(0);
            cell1.innerHTML = "<b>"+username+"</b>"+"<font style='align: left; margin-left: 20px;' color="+color+">"+message+"</font>";
        }
    </script>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
              <a class="navbar-brand" href="{{ url_for('index') }}" style="color: #fff; margin-top: -7px;">
                    <img class="d-inline-block align-top" src="{{ url_for('static', filename='favicon.ico') }}" width="35" height="35" alt="">&nbsp;&nbsp;MetaBase
              </a>
        </header>
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Welcome to Metabase</h4>
                    </div>
                    <div class="modal-body">
        				<p>Enter an Username to start chatting.</p>
        				<div class="row">
        				    <div class="col col-md-8">
        				        <input id="username_input" type="text" class="form-control" placeholder="Enter Username">
        				    </div>
        				    <div class="col col-sm-4">
        				        <button id="start_chat" class="btn btn-primary">Start</button>
                            </div>
        				</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModalclose" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <center><h4 class="modal-title">😍 Thanks 😍</h4></center>
                    </div>
                    <div class="modal-body">
        				<p>Thanks for using Metabase 😁</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="min-height: 100vh; background: #212121; " class="jumbotron-fluid">
            <div class="container">
                <div class="row justify-content-md-center" style="padding: 20px; background-color: #212121;">
                    <div class="col">
                        <hr size=2 width=25% align=left>
                            <div class="row">
                                <p><h1 style="color:#fff;">Chat room</h1></p><button id="exitButton" style="margin-left:30px;height:45px;width:80px" type="button" class="btn btn-outline-danger btn-sm">Exit</button>
                            </div>
                        <hr size=2 width=40% align=left>

                    </div>
                    <div style="margin-bottom: 20px;" class="table-responsive">
                        <table style="background: #212121;" cellspacing="0" cellpadding="0" id="message-table" class="table table-dark">
                          <thead>
                            <tr>
                              <th class="col-sm-2" scope="col">Username</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
                <div id="footer" class="row">
                    <div id="center" class="col">
                        <input id='message_input'type="text" style="width: 70%;"><button id="sendButton" style="margin-left: 10px; align: right;" type="button" class="btn btn-success">Send</button>
                    </div>
                </div>
            </div>
        </div>


    </body>

</html>